# Web Scraping with BeautifulSoup

### Additional free courses:

Introduction to Python programming:
https://academy.zenva.com/product/python-101-introduction-to-programming/?zva_src=stackskills

Learn to code in HTML and CSS:
https://academy.zenva.com/product/learn-to-code-in-html-and-css/?zva_src=stackskills

## Introducción al 'Web Scraping' 

### ¿Qué es Web Scraping?

*Web scraping* es una técnica utilizada mediante programas de software para extraer información de sitios web. Usualmente, estos programas simulan la navegación de un humano en la **World Wide Web** ya sea utilizando el protocolo HTTP manualmente, o incrustando un navegador en una aplicación.

*Web scraping* es el proceso de recopilar información de forma automática de la Web. Es un campo con desarrollos activos, compartiendo un propósito en común con la visión de la **Web semántica**. Utiliza soluciones prácticas basadas en tecnologías existentes que son comúnmente ad hoc.

Ref: *https://es.wikipedia.org/wiki/Web_scraping*

Los pasos recomendados son:
1. Obtener información de una página Web. Analizar la técnica de extracción de datos.
2. Recuperar datos y enviar un archivo. Ejecutar comandos para extraer sólo los datos deseados, y luego elegir el formato y guardar esta en un archivo.
3. Seleccionar datos. Recorrer la página y seleccionar los datos.
4. Parsear datos. Meterse en la página para extraer los datos.
5. Almacenar datos. Los datos extraídos se almacenan en variables y finalmente en un archivo.

Los temas a cubrir son:
1. Bajar e instalar *'Beautiful Soup'*.
2. Inspeccionar una página *Web*.
3. *Scraping Data*.
4. Recorrer los datos en bruto y extraer los datos relevantes.
5. *Sanitize Input* (Limpiar la entrada).
6. Guardar en un archivo CSV.
7. Lectura de archivos locales.
8. Lectura de datos no-tabulares.

## Instalar *BeautifulSoup*

Abrir el *'Command Prompt'* (cmd.exe), y digitar el comando *'pip install beautifulsoup4'* si **pip** está instalado o en su defecto *'python -m pip install beautifulsoup4'*. Ejecutar y dejar que se instalen las librerías.

Para verificar la última versión visitar **https://pypi.org/project/beautifulsoup4/**.

## Inspeccionar una página

Para inspeccionar una *página web* y analizar el código **HTML** detrás de esta se utiliza la herramienta del navegador que se llama *'Inspect'* o *Inspeccionar*. En **Chrome** se localiza al dar click derecho sobre la página y luego seleccionar en el menú contextual *'Inspect'* (Ctrl + Shift + I).

## Scraping Web Pages

Pasos generales:
1. Importar las librerías necesarias al *'Notebook'*.

In [1]:
from bs4 import BeautifulSoup as soup

from urllib.request import urlopen

2. Obtener los datos de la página completa.
 - Definir la ruta de la página.
 - Abrir una conexión a la página con *urlopen()*.
 - Leer la página y almacenarla en una variable.
 - Cerrar la conexión.

In [2]:
bccrMonex_url = 'https://gee.bccr.fi.cr/indicadoreseconomicos/Cuadros/frmVerCatCuadro.aspx?CodCuadro=748&Idioma=1&FecInicial=2017/01/01&FecFinal=2018/12/31'

bccrMonex_data = urlopen(bccrMonex_url)
bccrMonex_html = bccrMonex_data.read()
bccrMonex_data.close()

3. Read HTML data using a BeautifulSoup method, return the page in a readable method. The 'soup' method is a very useful and common method to pulls web scraping data. Receives 2 parameters:
 - The raw html data: 'bccrMonex_html'.
 - The data format: 'html.parser'.

In [3]:
page_soup = soup(bccrMonex_html, 'html.parser')

print(page_soup)

<html>
<head><title>Tipo de cambio promedio MONEX</title>
<script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-25040215-3']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();</script>
<script language="javascript">

var lc_js_filas748 = 0;
var lc_js_opentip  = "Mostrar jerarquía";
var lc_js_closetip = "Ocultar jerarquía";
var lc_js_colwidth = "100";
var lc_js_hdrwidth = "250";
var lc_js_idiom    = "spanish";
var lc_js_url      = "https://gee.bccr.fi.cr/indicadoreseconomicos/Cuadros/frmVerCatCuadro.aspx?CodCuadro=748&Idioma=1";
var lc_js_chg_lng  = "https://gee.bccr.fi.cr/indicadoreseconomicos/Cuadros/frmVerCatCuadro.aspx?CodCuadro=748&Idioma=2";

function js_doGoSearch(a){if(a=="1"){window.open("../Busquedas/frmResultadosBusqueda.aspx?Palabras="+document.all("txtPalabras").value.toUpperCase()+"&Idioma=1&Metodo=0&DesTitulo=Estructuras&Codigo=0&PorPagina=20","_self");}else{window.open("../Busquedas/frmResultadosBusqueda.aspx?Palabras="+document.all("txtPalabras").value.toUpperCase()+"&Idioma=2&Metodo=0&DesTitulo=Information Structures&Codigo=0&PorPagina=20","_self");}}function PopUpDate(d,c){var b="../General/frmGenCalendar.aspx?CTRL="+d+"&Idioma="+c;var a;window.open(b,"dp","toolbar=0, location=0, directories=0, status=0, menubar=0, scrollbars=0, resizable=0,width=220, height=190, left="+(window.event.screenX-16)+", top="+(window.event.screenY-100));return false;}function js_TdClick(a,f,h,j){var b=document.all("tr_"+a);var c=document.all("td_"+a);var i=document.all("img_"+a);var g=document.all("col_"+a);var d=document.all("otd_"+a);var e=document.all("emp_"+a);if(b&&c&&i&&g&&d){if(b.style.display=="block"){b.style.display="none";c.colSpan=1;c.className="noframe"+h;g.style.display="none";d.className="frame"+h;i.alt=lc_js_opentip;i.src="..\\Imagenes\\close.gif";if(e){e.style.display="block";}}else{b.style.display="block";c.colSpan=f;c.className="frame"+h;d.className="noframe"+h;g.style.display="block";i.alt=lc_js_closetip;i.src="..\\Imagenes\\open.gif";if(e){e.style.display="none";}}}js_resizeAllTds(h,j);}function js_calculateTableWidth(d,c){var a=0;var b=document.all("leaves"+d,a);var e=0;while(b){if(js_tdIsRoot(b)){e=(e-0)+(b.width-0);}a++;b=document.all("leaves"+d,a);}a=c;b=document.all("td_"+a);while(b){if(js_tdIsRoot(b)){e=(e-0)+(b.width-0);}a--;b=document.all("td_"+a);}return(e-0)+(lc_js_hdrwidth-0);}function js_tdIsRoot(b){var c=false;if(b.attributes.parentidx){var a=b.attributes.parentidx.value;c=(a=="td_0");}return c;}function js_tdIsVisible(c){var e=false;if(c.attributes.parentidx){var a=c.attributes.parentidx.value;var d=document.all(a);if(d){var b=document.all("tr_"+a.substr(3));if(b){if(b.style.display=="block"){e=js_tdIsVisible(d);}}}else{e=true;}}return e;}function js_resizeAllTds(f,h){var a=h;var e=document.all("theTable"+f);var g=document.all("theTable2"+f);e.width="";g.width="";var c=document.all("td_"+a);while(c){c.width="";a--;c=document.all("td_"+a);}a=0;c=document.all("leaves"+f,a);while(c){c.width=lc_js_colwidth;if(c.attributes.parentidx){var i=c.attributes.parentidx.value;var b=document.all(i);if(b){var d=document.all("tr_"+i.substr(3));if(d){if(d.style.display=="none"){b.width=lc_js_colwidth-0;}else{if(b.width==""){b.width=lc_js_colwidth-0;}else{b.width=(b.width-0)+(lc_js_colwidth-0);}}}}}a++;c=document.all("leaves"+f,a);}a=h;c=document.all("td_"+a);while(c){if(c.attributes.parentidx){var i=c.attributes.parentidx.value;var b=document.all(i);if(b){var d=document.all("tr_"+i.substr(3));if(d){if(d.style.display=="none"){b.width=lc_js_colwidth-0;}else{if(b.width==""){b.width=c.width-0;}else{b.width=(b.width-0)+(c.width-0);}}}}}a--;c=document.all("td_"+a);}e.width=js_calculateTableWidth(f,h);g.width=e.width;}function js_validateDates(a){if(check_date(document.all("tbFecIni"),lc_js_idiom,"")){if(check_date(document.all("tbFecFin"),lc_js_idiom,"")){if(check_date_range(document.all("tbFecIni").value,document.all("tbFecFin").value,lc_js_idiom)){return true;}else{if(a){if(lc_js_idiom=="spanish"){select_field(document.all("tbFecFin"),"La fecha final debe ser mayor o igual que la inicial");}else{select_field(document.all("tbFecFin"),"To date must be greater than or equal to From date");}}}}else{if(a){if(lc_js_idiom=="spanish"){select_field(document.all("tbFecFin"),"La fecha final es inv�lida");}else{select_field(document.all("tbFecFin"),"To date is not valid");}}}}else{if(a){if(lc_js_idiom=="spanish"){select_field(document.all("tbFecIni"),"La fecha inicial es inv�lida");}else{select_field(document.all("tbFecIni"),"From date is not valid");}}}return false;}function js_DateStr(a){if(lc_js_idiom=="spanish"){return(a.substr(6,4)+"/"+a.substr(3,2)+"/"+a.substr(0,2));}else{return(a.substr(6,4)+"/"+a.substr(0,2)+"/"+a.substr(3,2));}}function js_dateParameter(b,a){return(document.all(b).value.length>0?"&"+a+"="+js_DateStr(document.all(b).value):"");}function js_filterParameter(){if(document.all("ddlFiltrar")){return("&Filtro="+document.all("ddlFiltrar").value);}else{return("");}}function js_navigate(a){if(window.navigate){window.navigate(a);}else{location=a;}}function js_go(){if(js_validateDates(true)){js_navigate(lc_js_url+js_dateParameter("tbFecIni","FecInicial")+js_dateParameter("tbFecFin","FecFinal")+js_filterParameter());}}function js_doGoFirst(){if(js_validateDates(true)){js_navigate(lc_js_url+js_dateParameter("tbFecIni","FecInicial")+js_dateParameter("tbFecFin","FecFinal")+js_filterParameter()+"&Jump="+document.all("tbK").value);return;}}function js_doGoBack(){var a=Math.min(document.all("tbI").value-0+1,document.all("tbK").value-0);if(js_validateDates(true)){js_navigate(lc_js_url+js_dateParameter("tbFecIni","FecInicial")+js_dateParameter("tbFecFin","FecFinal")+js_filterParameter()+"&Jump="+a);return;}}function js_doGoNext(){var a=Math.max(document.all("tbI").value-1,0);if(js_validateDates(true)){js_navigate(lc_js_url+js_dateParameter("tbFecIni","FecInicial")+js_dateParameter("tbFecFin","FecFinal")+js_filterParameter()+"&Jump="+a);return;}}function js_doGoLast(){if(js_validateDates(true)){js_navigate(lc_js_url+js_dateParameter("tbFecIni","FecInicial")+js_dateParameter("tbFecFin","FecFinal")+js_filterParameter()+"&Jump=0");return;}}function js_doExport(){if(js_validateDates(true)){window.open(lc_js_url+js_dateParameter("tbFecIni","FecInicial")+js_dateParameter("tbFecFin","FecFinal")+js_filterParameter()+"&Exportar=True","_blank");}}function js_doExportReport(){var a="";var b="";if(document.all("Desde")){if(document.all("Desde").value!=""){a="&Desde="+js_DateStr(document.all("Desde").value);}}if(document.all("Hasta")){if(document.all("Hasta").value!=""){b="&Hasta="+js_DateStr(document.all("Hasta").value);}}window.open(lc_js_reporturl+a+b,"_blank");}function check_date_range(a,b,i){var g;var d;var f;var h;var e;var c;if((a.length==0)||(b.length==0)){return true;}f=a.substr(6,4)-0;c=b.substr(6,4)-0;if(i=="spanish"){d=a.substr(3,2)-0;e=b.substr(3,2)-0;}else{d=a.substr(0,2)-0;e=b.substr(0,2)-0;}if(i=="spanish"){g=a.substr(0,2)-0;h=b.substr(0,2)-0;}else{g=a.substr(3,2)-0;h=b.substr(3,2)-0;}if(f<c){return true;}if((f==c)&&(d<e)){return true;}if((f==c)&&(d==e)&&(g<=h)){return true;}return false;}function check_date(h,f,c){var p="0123456789";var j=h;var o="";var m="";var e="/";var b;var a;var d;var l=0;var g=0;var k;var n;if(f==undefined){n=lc_js_idiom;}else{if(f.length==0){n=lc_js_idiom;}else{n=f;}}g=0;DateValue=j.value;if(DateValue.length==0){return true;}if(!(/^\d\d[\/\.-\\]?\d\d[\/\.-\\]?\d\d(\d\d)?$/.test(DateValue))){g=1;}for(k=0;k<DateValue.length;k++){if(p.indexOf(DateValue.substr(k,1))>=0){m=m+DateValue.substr(k,1);}}DateValue=m;if(DateValue.length==6){DateValue=DateValue.substr(0,4)+"20"+DateValue.substr(4,2);}if(DateValue.length!=8){g=19;}d=DateValue.substr(4,4);if(d==0){g=20;}if(n=="english"){a=DateValue.substr(0,2);}if(n=="spanish"){a=DateValue.substr(2,2);}if((a<1)||(a>12)){g=21;}if(n=="english"){b=DateValue.substr(2,2);}if(n=="spanish"){b=DateValue.substr(0,2);}if(b<1){g=22;}if((d%4==0)||(d%100==0)||(d%400==0)){l=1;}if((a==2)&&(l==1)&&(b>29)){g=23;}if((a==2)&&(l!=1)&&(b>28)){g=24;}if((b>31)&&((a=="01")||(a=="03")||(a=="05")||(a=="07")||(a=="08")||(a=="10")||(a=="12"))){g=25;}if((b>30)&&((a=="04")||(a=="06")||(a=="09")||(a=="11"))){g=26;}if(g==0){if(n=="english"){j.value=a+e+b+e+d;}if(n=="spanish"){j.value=b+e+a+e+d;}return true;}else{if(c==undefined){if(n=="english"){c="Input date format is incorrect";}if(n=="spanish"){c="La fecha digitada es incorrecta";}}else{if(c.length==0){if(n=="english"){c="Input date format is incorrect";}if(n=="spanish"){c="La fecha digitada es incorrecta";}}}select_field(j,c);return false;}}function select_field(b,a){window.alert(a);b.focus();b.select();}function getChildElement(c,d){var b=0;if(c.hasChildNodes()){for(var a=0;a<c.childNodes.length;a++){if(c.childNodes[a].nodeType!=1){continue;}if(b!=d){b++;continue;}else{return c.childNodes[a];}}}return null;}function chngto(d,a){var c;if(document.all){c=event.srcElement;}else{c=d.target;if(c.nodeType==3){c=c.parentNode;}}if("B"==c.tagName||"SPAN"==c.tagName||"IMG"==c.tagName){if("IMG"==c.tagName){if(!c.name){return;}}else{var b=c.parentNode;while(b.tagName!="TD"){b=b.parentNode;}tableLayer=getChildElement(b,1);if(tableLayer==null||tableLayer.tagName!="DIV"){return;}c.className=a;}if(a=="hover"){c.style.cursor=(document.getElementById)?"pointer":"hand";}else{c.style.cursor="default";}}}function exposeTable(g,a){var b;var e;if(document.getElementById){b=event.srcElement;}else{b=g.target;if(b.nodeType==3){b=b.parentNode;}}if("B"==b.tagName||"SPAN"==b.tagName||"IMG"==b.tagName){if("IMG"==b.tagName){if(!b.name){return;}e=b;var f=b.parentNode;while(f.tagName!="TD"){f=f.parentNode;}b=f.nextSibling.firstChild;tableLayer=getChildElement(f.nextSibling,1);}else{var f=b.parentNode;while(f.tagName!="TD"){f=f.parentNode;}tableLayer=getChildElement(f,1);}if(tableLayer==null||tableLayer.tagName!="DIV"){return;}var d=document.images[b.id.toLowerCase()].src.indexOf("close");var c=(d!=-1?"open":"closed");if(c=="open"){tableLayer.style.display="block";document.images[b.id.toLowerCase()].src="..\\Imagenes\\open.gif";if(e){e.alt=lc_js_closetip;}}else{tableLayer.style.display="none";document.images[b.id.toLowerCase()].src="..\\Imagenes\\close.gif";if(e){e.alt=lc_js_opentip;}}RepintaFilas(a);}}
function RepintaRecursivo(node, pintar)
{
    var go_on;
    while (node) {
        go_on = true;
        if (go_on) go_on = (node.firstChild != null);
        if (go_on) go_on = (node.firstChild.nextSibling != null);
        if (go_on) go_on = (node.firstChild.nextSibling.firstChild != null);
        if (go_on) {
            var span = node.firstChild.nextSibling.firstChild;
            if (span) {
                if (span.tagName == "SPAN") {
                    if (go_on) go_on = (span.firstChild != null);
                    if (go_on) go_on = (span.firstChild.firstChild != null);
                    if (go_on) go_on = (span.firstChild.firstChild.firstChild != null);
                    if (go_on) {
                        var tr = span.firstChild.firstChild.firstChild;
                        if (pintar) {
                            tr.bgColor = "#DFEDFF";
                            tr.style.color = "Black";
                        }
                        else {
                            tr.bgColor = "#FFFFFF";
                            tr.style.color = "Black";
                        }
                        pintar = !pintar;

                        var div = span.nextSibling;
                        if (div) {
                            if (div.tagName == "DIV") {
                                if (div.style.display == 'block') {
                                    pintar = RepintaRecursivo(div.firstChild.firstChild.firstChild, pintar);
                                }
                            }
                        }
                    }
                }
            }
        }
        node = node.nextSibling;
    }
    return pintar;
}

function RepintaFilas(table)
{
    if (document.all) {
        if (document.all(table)) {
            var node = document.all(table).firstChild.firstChild;
            while (node.tagName == "TR" && node.bgColor == "#0C365E") node = node.nextSibling;
            RepintaRecursivo(node, false);
        }
    }
}

</script>
<style type="text/css">
    .link {COLOR: black}
    .hover {COLOR: red}
    .tableContainer1 {DISPLAY: block;}
    .tableContainer2 {DISPLAY: none;}
    .tableContainer {DISPLAY: none;}
    TD.frame748 { BORDER: 2px groove; FONT-FAMILY: Arial; FONT-SIZE: 8pt; FONT-WEIGHT: normal; COLOR: Black; FONT-STYLE: normal; TEXT-DECORATION: none}
    TD.noframe748 { BORDER: 0px; FONT-FAMILY: Arial; FONT-SIZE: 8pt; FONT-WEIGHT: normal; COLOR: Black; FONT-STYLE: normal; TEXT-DECORATION: none}
    TD.celda748 { FONT-FAMILY: Arial; FONT-SIZE: 8pt; FONT-WEIGHT: normal; COLOR: Black; FONT-STYLE: normal; TEXT-DECORATION: none}
    .estiloTitulo748 {FONT-FAMILY: Arial; FONT-SIZE: 11pt; FONT-WEIGHT: bold; COLOR: Black; TEXT-ALIGN: Center; FONT-STYLE: normal; TEXT-DECORATION: none}
    .estiloSubtitulo748 {FONT-FAMILY: Arial; FONT-SIZE: 10pt; FONT-WEIGHT: normal; COLOR: black; TEXT-ALIGN: Center; FONT-STYLE: normal; TEXT-DECORATION: none}
    </style>
<meta content="Microsoft Visual Studio.NET 7.0" name="GENERATOR"/>
<meta content="Visual Basic 7.0" name="CODE_LANGUAGE"/>
<meta content="JavaScript" name="vs_defaultClientScript"/>
<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema"/>
<link href="../estilos/estilos.css" rel="stylesheet" type="text/css"/>
</head>
<body ms_positioning="GridLayout">
<form id="Form1" method="post" runat="server">
<table border="0" cellpadding="0" cellspacing="0" id="Table0" width="100%">
<tr><td height="10pt"> </td></tr>
<tr><td><span class="Titulo">Tipo de cambio promedio MONEX</span></td></tr>
<tr><td class="Notas" colspan="10">En colones costarricenses</td></tr>
<tr><td class="Notas" colspan="10"></td></tr>
<tr><td height="10pt"> </td></tr>
</table>
<table border="0" bordercolordark="LightSteelBlue" bordercolorlight="#FFFFFF" cellpadding="0" cellspacing="0" id="Table748" onclick="exposeTable(event, 'Table748');" onmouseout="chngto(event,'link');" onmouseover="chngto(event,'hover');" style="border-style: None" width="465">
<tr style="background-color:#0C365E">
<td align="middle" nowrap="" valign="center" width="15">
            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr style="background-color:#0C365E">
<td width="250"><p> </p></td>
<td align="right" class="celda748" style="color:white" width="100"><p>2017</p></td>
<td align="right" class="celda748" style="color:white" width="100"><p>2018</p></td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 1 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 2 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>556,06</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,80</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 3 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>556,86</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 4 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>557,25</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,64</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 5 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>557,43</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,46</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 6 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>557,55</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 7 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 8 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,39</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 9 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>557,02</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,50</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 10 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>556,70</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,78</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 11 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>555,89</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 12 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>555,23</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,58</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 13 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>554,89</p>
</td>

4. Una vez con el código HTML capturado en la variable se debe recorrer el código y extraer el contenido de las etiquetas de interés. Se puede buscar la primera etiqueta HTML por nombre así:

In [4]:
print(page_soup.link)

<link href="../estilos/estilos.css" rel="stylesheet" type="text/css"/>

In [5]:
print(page_soup.span)

<span class="Titulo">Tipo de cambio promedio MONEX</span>

O se pueden recuperar el contenido de todas las etiquetas presentes usando los métodos tales como '.findAll', '.find', o '.next', y dentro de *'{...}'* un identificador de la etiqueta.

In [6]:
bccrMonex_tablas = page_soup.find_all('table', {'id' : 'Table748'})

print(bccrMonex_tablas)

[<table border="0" bordercolordark="LightSteelBlue" bordercolorlight="#FFFFFF" cellpadding="0" cellspacing="0" id="Table748" onclick="exposeTable(event, 'Table748');" onmouseout="chngto(event,'link');" onmouseover="chngto(event,'hover');" style="border-style: None" width="465">
<tr style="background-color:#0C365E">
<td align="middle" nowrap="" valign="center" width="15">
            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr style="background-color:#0C365E">
<td width="250"><p> </p></td>
<td align="right" class="celda748" style="color:white" width="100"><p>2017</p></td>
<td align="right" class="celda748" style="color:white" width="100"><p>2018</p></td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 1 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 2 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>556,06</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,80</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 3 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>556,86</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 4 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>557,25</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,64</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 5 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>557,43</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,46</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 6 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>557,55</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 7 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 8 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,39</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 9 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>557,02</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,50</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 10 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>556,70</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,78</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 11 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>555,89</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 12 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>555,23</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,58</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 13 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>554,89</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 14 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 15 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>568,67</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 16 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>555,04</p>
</td>
<td align="right" class="celda748" width="100">
<p>568,07</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 17 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>555,09</p>
</td>
<td align="right" class="celda748" width="100">
<p>568,08</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 18 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>555,01</p>
</td>
<td align="right" class="celda748" width="100">
<p>568,67</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 19 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>554,90</p>
</td>
<td align="right" class="celda748" width="100">
<p>568,76</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 20 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>555,27</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 21 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 22 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,21</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 23 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>555,31</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,29</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 24 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>555,27</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,43</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 25 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>555,59</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,14</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 26 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>556,33</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,04</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 27 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>557,42</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 28 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 29 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,91</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 30 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>557,44</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,70</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 31 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>558,51</p>
</td>
<td align="right" class="celda748" width="100">
<p>571,77</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 1 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>558,46</p>
</td>
<td align="right" class="celda748" width="100">
<p>571,73</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 2 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>559,58</p>
</td>
<td align="right" class="celda748" width="100">
<p>572,26</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 3 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>560,50</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 4 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 5 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>573,74</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 6 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>560,61</p>
</td>
<td align="right" class="celda748" width="100">
<p>574,97</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 7 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>561,75</p>
</td>
<td align="right" class="celda748" width="100">
<p>575,54</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 8 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>562,50</p>
</td>
<td align="right" class="celda748" width="100">
<p>574,12</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 9 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>562,19</p>
</td>
<td align="right" class="celda748" width="100">
<p>572,32</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 10 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>563,26</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 11 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 12 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,41</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 13 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>563,61</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,43</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 14 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>563,95</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,13</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 15 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>564,58</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,25</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 16 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>565,03</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,52</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 17 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>565,24</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 18 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 19 Feb  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,56</p>
</td>
</tr>
</table>
</span>

In [7]:
print(len(bccrMonex_tablas))

1

Como el método usando **'table'** sin el identificador devuelve 374 instancias, lo que no parece ser de mucha ayuda, particularmente porque la tabla con los datos no es identificable por un factor relevante. Pero usando el **'id = celda748'** se logra aislar la tabla con los datos requeridos.

Otra opción es recuperar las celdas de la clase **'class = celda748'** que puede ser más útil dado que se pueden alcanzar los datos de la tabla con mayor facilidad. Así que este método puede funcionar mejor:

In [8]:
bccrMonex_celdas = page_soup.find_all('td', {'class' : 'celda748'})

for celda in bccrMonex_celdas[0:9]:
    print(celda.text)
    print('----------')

2017
----------
2018
----------

 1 Ene

----------

0,00

----------

0,00

----------

 2 Ene

----------

556,06

----------

569,80

----------

 3 Ene

----------

Sin embargo los datos se extraen en un solo arreglo con todos los datos en cola. Así que reconstruir la tabla por columnas puede ser más problemático.

Otra opción es recuperar de la tabla aislada las filas solamente **'<tr></tr>'**, así:

## Extraer y limpiar los datos relevantes

Ordenar el código HTML de los datos de la tabla. Sorting HTML Table Data. Los pasos para ordenar los datos son:
1. Seleccionar los datos que se ocupan. 
 - Primero aislo en una nueva variable la tabla de los datos.
 - Luego busco nuevamente las etiquetas pero de filas.

Guardar la tabla que contiene los datos relevantes del arreglo de tablas extraídas del código HTML en bruto. Luego se extraen las filas de la tabla y se asignan a un arreglo de filas.

In [9]:
bccrMonex_tabla = bccrMonex_tablas[0]

bccrMonex_filas = bccrMonex_tabla.find_all('tr', {})

intFilas = len(bccrMonex_filas)

print(intFilas)

733

Despliegue de las filas para comprender su estructura HTML y así determinar la mejor manera de extraer los datos relevantes.

In [10]:
print(bccrMonex_filas[0])

print('[0]----------')

print(bccrMonex_filas[1])

print('[1]----------')

print(bccrMonex_filas[2])

print('[2]----------')

print(bccrMonex_filas[3])

print('[3]----------')

print(bccrMonex_filas[730])

print('[730]----------')

print(bccrMonex_filas[731])

print('[731]--------')

print(bccrMonex_filas[732].text)

print('[732]--------')

<tr style="background-color:#0C365E">
<td align="middle" nowrap="" valign="center" width="15">
            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr style="background-color:#0C365E">
<td width="250"><p> </p></td>
<td align="right" class="celda748" style="color:white" width="100"><p>2017</p></td>
<td align="right" class="celda748" style="color:white" width="100"><p>2018</p></td>
</tr>
</table>
</span>
</td>
</tr>
[0]----------
<tr style="background-color:#0C365E">
<td width="250"><p> </p></td>
<td align="right" class="celda748" style="color:white" width="100"><p>2017</p></td>
<td align="right" class="celda748" style="color:white" width="100"><p>2018</p></td>
</tr>
[1]----------
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 1 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
[2]----------
<tr>
<td class="celda748" width="250">
<p> 1 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
[3]----------
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 31 Dic  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
[730]----------
<tr>
<td class="celda748" width="250">
<p> 31 Dic  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
[731]--------



                     Fuente: Banco Central de Costa Rica

 Notas:
                     n1/ Corresponde al promedio ponderado del tipo de cambio de las transacciones realizadas en el mercado mayorista "MONEX".
                     n2/ Los datos del dia 16 de noviembre  excluyen dos transacciones por un total de EUA$63.000 a un tipo de cambio de 5.555 colones por dolar



[732]--------

En este despliegue se descubre que las filas se recuperaron duplicadas. Ver fila 1 y 2, 2 y 3, o 730 y 731, además la última fila (732) no tiene datos relevantes por lo que se debe desechar. También queda claro que cada fila tiene una serie de celdas anidadas, pero las que contienen los datos relevantes son aquellas cuya clase es **'celda748'**. 

El siguiente paso es realizar una prueba de recuperación de una celda con datos relevantes y entender como los datos se están recuperando.

In [25]:
bccrMonex_celdas_fl = bccrMonex_filas[2].find_all('td', {'class' : 'celda748'})

bccrMonex_celdas_txt = []

for celda in bccrMonex_celdas_fl:
    bccrMonex_celdas_txt.append(celda.text)

print(bccrMonex_celdas_txt)

['\n\xa01 Ene  \n', '\n0,00\n', '\n0,00\n']

Esta prueba demuestra que los datos vienen con mucha basura al ser extraídos, y requerirá una limpieza de datos.

#### Encabezados de la tabla  

Lo primero es recuperar los encabezados

In [26]:
bccrMonex_header = bccrMonex_filas[1].find_all('td', {})

bccrMonex_header_txt = []

for celda in bccrMonex_header:
    bccrMonex_header_txt.append(celda.text[:])
    
print(bccrMonex_header_txt)

['\xa0', '2017', '2018']

#### Recuperar sólo las filas de datos 

Se eliminan el encabezado, la última fila, y las filas dobles.

In [13]:
bccrMonex_filas_datos = []

intLineas = len(bccrMonex_filas) - 1

for i in range(2, intLineas, 2):
    bccrMonex_filas_datos.append(bccrMonex_filas[i])

#bccrMonex_filas[2 : -1]

print(bccrMonex_filas_datos[0])

print('- - - - - - - - - -')

print(bccrMonex_filas_datos[1])

print('- - - - - - - - - -')

print(bccrMonex_filas_datos[2])

print('- - - - - - - - - -')

print(bccrMonex_filas_datos[len(bccrMonex_filas_datos) - 1])

<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 1 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
- - - - - - - - - -
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 2 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>556,06</p>
</td>
<td align="right" class="celda748" width="100">
<p>569,80</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
- - - - - - - - - -
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 3 Ene  </p>
</td>
<td align="right" class="celda748" width="100">
<p>556,86</p>
</td>
<td align="right" class="celda748" width="100">
<p>570,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>
- - - - - - - - - -
<tr>
<td align="middle" nowrap="" valign="top" width="15">

            </td>
<td align="left">
<span>
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="celda748" width="250">
<p> 31 Dic  </p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
<td align="right" class="celda748" width="100">
<p>0,00</p>
</td>
</tr>
</table>
</span>
</td>
</tr>

2. Iterar a través de las filas y agregar cada una a un arreglo.
 - Además limpiar los datos mientras se recorre y recupera la tabla en bruto, en este caso la celda de fecha es recuperada así **'\xa01 Ene    \n'** y debe ser depurada para que sólo quede **'01 Ene'**, mientras que las restantes celdas de la fila no se recuperan con esos caracteres.
 - Sin embargo se debe cambiar la ',' por un '.' en los datos numéricos de cada fila.

In [23]:
# bccrMonex_filas[2]
# Declaración del arreglo para almacenar el encabezado y las filas
bccrMonex_tabla_datos = []

# Recorrer las filas del arreglo que sólo tiene las filas con datos útiles
for fila in bccrMonex_filas_datos[0:6]:
    bccrMonex_celdas_txt = []
    celdas = fila.find_all('td', {'class' : 'celda748'})
    # Recorrer las celdas dentro de la fila, capturar sólo el texto y añadir a
    # un arreglo temporal.
    for celda in celdas:
        # Eliminar el caracter de línea nueva mientras se recorren las filas
        bccrMonex_celdas_txt.append(celda.text[1:-1].replace(',','.'))
    # Eliminar los espacios al final de las celdas de fechas
    strCeldaCero = bccrMonex_celdas_txt[0]
    strCeldaCero = strCeldaCero.rstrip()
    # Elimina caracter oculto al inicio del string de la fecha
    bccrMonex_celdas_txt[0] = strCeldaCero[1:]
    bccrMonex_tabla_datos.append(bccrMonex_celdas_txt)
    #print(bccrMonex_celdas_txt)
    #bccrMonex_celdas_txt.clear()
    #print(bccrMonex_tabla_datos)

print(bccrMonex_tabla_datos)

[['1 Ene', '0.00', '0.00'], ['2 Ene', '556.06', '569.80'], ['3 Ene', '556.86', '570.00'], ['4 Ene', '557.25', '570.64'], ['5 Ene', '557.43', '570.46'], ['6 Ene', '557.55', '0.00']]

In [22]:
bccrMonex_tabla_datos[0][0]

'1 Ene'

In [24]:
bccrMonex_tabla_datos[0]

['1 Ene', '0.00', '0.00']

## Salvaguardado de los datos recuperados

Prueba de creación y llenado del archivo '.csv' con el arreglo que contiene  6 filas.

In [43]:
newFile = open("bccrMonex_Tabla_Final_Datos.csv", "w")

# Recuperar el valor literal de los encabezados y escribirlos en el csv.
# OJO: Al usar '\\n' para agregar un final de línea, este pasa literal al archivo
# y no se agregar el salto de línea del todo.
strHeaderCSV = 'Dia,' + bccrMonex_header_txt[1] + ',' + bccrMonex_header_txt[2] + '\n'
#print(strHeaderCSV)
newFile.write(strHeaderCSV)
#newFile.write('Día,2017,2018\n')

# Recuperar el valor literal de las celdas por fila y escribir una a una en el csv.
for fila_datos in bccrMonex_tabla_datos:
    strLineaCSV = ''
    for strCelda in fila_datos:
        strLineaCSV += strCelda + ','
    strLineaCSV = strLineaCSV[:-1] + '\n'
    #print('L: ', strLineaCSV)
    #newFile.writelines(strLineaCSV)
    newFile.write(strLineaCSV)

newFile.close()

print('¡¡Archivo guardado correctamente!!')

¡¡Archivo guardado correctamente!!

In [ ]:
print(bccrMonex_filas_datos[0]).stop

print('- - - - - - - - - -')

print(bccrMonex_filas_datos[1])

print('- - - - - - - - - -')

print(bccrMonex_filas_datos[len(bccrMonex_filas_datos) - 1])

3. Almacenar los datos en arreglos/vectores.

# Otro ejemplo de 'Web Scraping'

Ref: https://www.dataquest.io/blog/web-scraping-beautifulsoup/